includes:
  - phpstan-baseline.neon

parameters:
    level: max
    paths:
      - bin/
      - config/
      - public/
      - src/
      - tests/
    tmpDir: var/phpstan
    doctrine:
      objectManagerLoader: tests/object-manager.php
    symfony:
      containerXmlPath: var/phpstan/container.xml
    ignoreErrors:
      # Example: ignore dynamic service fetch in framework glue code
      - message: '#Service "\w+" is not registered in the container#'
        path: src/Infrastructure/.*
